body, html {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#result-output {
    text-align: center;
    background-color: purple;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    width: 200px;
    font-size: 18px;
    
}
#choice{
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px;
}
#choice:hover{
    background-color: darkmagenta;
}
